[2020-12-31 01:58] kernjackson opened #19 "Package Resolution Failed"
Add Package Dependency by **version** results in the following error. Setting the rules to Branch: main worked.

<img width="751" alt="Screen Shot 2020-12-30 at 7 25 34 PM" src="https://user-images.githubusercontent.com/6172851/103389766-79b08380-4ad6-11eb-8bf8-9106d0759c55.png">

[2020-12-31 02:20] kernjackson opened #20 "testRightAlignedParagraph Fails"
# testRightAlignedParagraph failed

"failed - Snapshot does not match reference."

M1 MacBook Air
macOS 11.1
Xcode 12.3 (12C33)

Setting record to true resulted in the following snapshot.

[code]

[2020-12-31 05:55] gonzalezreal commented on #19
Thanks for reporting this. A fix is on the way.

[2020-12-31 06:13] gonzalezreal commented on #20
This is an interesting issue that I cannot reproduce in my Intel based Mac.

I suspect that `NSTextAlignment.right.rawValue` is `2` for ARM architectures (including the M1) and `1` for Intel based architectures.

This could be fixed either by comparing image snapshots instead of dumps, or simply by checking that the paragraph style has the expected text alignment.

Thanks for reporting this.

[2020-12-31 09:24] #19 closed

[2020-12-31 09:30] gonzalezreal commented on #19
Should be working properly with the release 0.1.1

[2021-01-03 18:09] #20 closed

[2021-01-03 23:21] arnaud512 opened #23 "Large image dimensions"
Hey @gonzalezreal !
I'm trying to add some high def image to my markdown document.
But with a large image, the image goes outside of the view, and it's impossible to see the complete image.
Do you have a solution to resize automatically the image to the screen size?

Thanks :)

Example:

[code]

[2021-01-03 23:33] arnaud512 opened #24 "Disable image longpress menu"
Hi @gonzalezreal,
Is it possible to remove the menu when long press an image?

Thanks :)

Example:
![IMG_305902186B08-1](https://user-images.githubusercontent.com/3939593/103491471-2437e780-4df2-11eb-94f7-414f742f8644.jpeg)

[2021-01-04 17:57] #23 closed

[2021-01-04 18:13] gonzalezreal commented on #24
Hi,
This functionality will eventually be implemented in [gonzalezreal/AttributedText](https://github.com/gonzalezreal/AttributedText).

[2021-01-07 10:30] Jdb156158 opened #26 "是否支持加载md文件？【Do you support loading md files?】"
能够支持加载显示md文件吗，Is it possible to display md files when loading

[2021-01-08 18:19] gonzalezreal commented on #26
When you create a `Markdown` view, you need to pass a CommonMark `Document`. You can create a `Document` using a string literal, a string, or the content of a file at a specific path. [One of the examples](https://github.com/gonzalezreal/MarkdownUI/blob/main/Examples/MarkdownUIDemo/Shared/ReadMeView.swift) in the demo project shows how to load a document from a resource and display it.

[2021-01-10 08:48] Jdb156158 commented on #26
好的，非常感谢

[2021-01-10 19:44] #26 closed

[2021-01-14 00:15] santi-g-s opened #29 "Plans to support markdown extensions"
Do you have any plans to support markdown extensions such as:

Tables,
Emojis
Etc.

Thanks for all the great work!

[2021-01-14 08:17] gonzalezreal commented on #29
Sorry, I have no plans to support GitHub extensions at the moment. I would consider it in the future if there is enough interest in the community.

Extension parsing should be feasible, using [GitHub's fork](https://github.com/github/cmark-gfm) of the CommonMark parser. Rendering could be more challenging, specially with tables.

[2021-01-14 13:15] santi-g-s commented on #29
Very understandable, thank you.

[2021-01-15 13:31] santi-g-s opened #30 "Markdown view doesn't update when Document changes"
My situation is as follows:

I change the contents of the the Markdown view programatically and the view doesn't update. To illustrate:

[code]

I assume this is expected behaviour as `private let document: Document` does not have `@Binding` in Markdown.swift

Do you have any idea how this could be made to work, could document become a `@Binding` ?

Many thanks.

[2021-01-15 15:32] gonzalezreal commented on #30
🤔 I don't think it is related to bindings. I will have a look at it over the weekend. Thanks for reporting it.

[2021-01-15 15:33] santi-g-s commented on #30
Thanks!

[2021-01-16 14:40] #30 closed

[2021-02-18 14:19] uuttff8 opened #36 "Image Attachment not shown in UITextView with attributed string"
as title says, UITextView doesn't show images

here is example with images and UITextView

https://drive.google.com/drive/folders/1rwlJSGCEKnzW1biN6FCcjsrnNqH66S_3?usp=sharing

Please, correct me if I am wrong. Or suggest libraries that will show correct UITextView with images.

[2021-02-18 14:27] uuttff8 commented on #36
And also, I can't use SwiftUI because of ios 12 support.

[2021-02-18 16:48] gonzalezreal commented on #36
Hi @uuttff8,

This is the expected behaviour. Notice that the `NSAttributedString` extension does not load images asynchronously. Instead, it provides an optional `attachments` parameter that you can use to associate existing text attachments with image URL strings.

https://github.com/gonzalezreal/MarkdownUI/blob/079e08576d506fbc42184f175b2ca8a898da9a30/Sources/MarkdownUI/Shared/NSAttributedStrin

[2021-02-19 18:14] #36 closed

[2021-02-23 13:23] santi-g-s opened #37 "NSTextAttachment not rendering when using NSAttributedString(document:, style:)"
Hi,

I have a use case in my app where I need to extract the NSAttributedString from markdown text. I wanted to use the parser included in MarkdownUI as I think it performs better than others out there. However, I'm struggling to understand why images aren't working properly. It was my understanding that they were included in the NSAttributedString as NSTextAttachments.

Below is a simple test to

[2021-02-23 15:04] gonzalezreal commented on #37
Hi @santi-g-s,

This is the expected behaviour. Notice that the `NSAttributedString` extension does not load images asynchronously. Instead, it provides an optional `attachments` parameter that you can use to associate existing text attachments with image URL strings:

https://github.com/gonzalezreal/MarkdownUI/blob/079e08576d506fbc42184f175b2ca8a898da9a30/Sources/MarkdownUI/Shared/NSAttributedStr

[2021-02-23 15:58] santi-g-s commented on #37
Thank you so much @gonzalezreal. I really appreciate your patience and help with this.

To my understanding,  I should most likely use `MarkdownRenderer.attributedString` to extract the attributedString with loaded NSTextAttachments. However, when I try to access `MarkdownRenderer` I get a "Cannot find type 'MarkdownRenderer' in scope" error. Is there something else I need to import?

Many thanks,

[2021-02-23 17:23] gonzalezreal commented on #37
No problem!

The reason you're seeing that error is because the `MarkdownRenderer` class is not public. Can you elaborate on your use case and why you need to use the `NSAttributedString` extension instead of the `Markdown` view?

[2021-02-23 18:06] santi-g-s commented on #37
Well I want to be able to export to PDF and word docx. Currently I create the word docx via NSAttributedString which then gets converted to the required DocumentType data using [NSAttributedString.data()](https://developer.apple.com/documentation/foundation/nsattributedstring/1534090-data). The PDF is created using `UISimpleTextPrintFormatter` which also takes an NSAttributedString as an input.

E

[2021-02-24 07:27] gonzalezreal commented on #37
I am not sure is a good idea to use this library for your use case. MarkdownUI solves the problem of rendering markdown in a SwiftUI view tree, which is very different of what you want to achieve.

It's true that you can use the `NSAttributedString` extension for your use case, but you will need to provide the image downloading and text attachment logic. Notice that `MarkdownRenderer` is doing oth

[2021-02-27 12:37] lukacs-m opened #39 "Error while compiling after the last merge."
Hello,
first of all thank you for the work done on this library.
It seems that the last merge has brought in an error.
When I try to compile my project with MarkdownUI I get and error coming from the lib and more specifically the following function.

` func makeHeadingFont(_ level: Int) -> Font? {
        let fontSizeMultiple = headingFontSizeMultiples[min(level, headingFontSizeMultiples.count) -

[2021-02-27 18:17] #39 closed

[2021-02-27 18:19] gonzalezreal commented on #39
Ouch! I screwed it up in the last release. I will release a patch release as soon as I can.

[2021-04-02 22:38] thatvirtualboy opened #40 "Localization Support?"
Hi there, thank you for making this. I've noticed it doesn't appear to work with Localization. The strings aren't read in the **Localizable.strings** files since they're not `Text()` but rather `Markdown ()`

Any ways around this?

[2021-04-06 18:45] heltena opened #41 "Accessibility - Font Size dynamically change"
Hello!

I'm working with this package (thanks! it is great!) and I'm having troubles on debugging the Accessibility font size. Also, it is an issue that could be problematic in production.

I open the "Accessibility Inspector" and the Markdown view looks great if the font size is set to big (50 pt, I guess). The problem is the current view is not observing the `UIContentSizeCategory.didChangeNotif

[2021-04-06 20:16] heltena commented on #41
Sorry, I solved creating a new MarkdownStyle where the "font" attribute is a getter instead a variable:

[code]

[2021-04-06 21:17] #41 closed

[2021-04-15 08:30] oblank opened #42 "mulitiple line space is not equal, influence by paragraphSeparator"
![screenshot](https://i.ibb.co/tKvNkGr/1618474119772.jpg)

just like the screenshot

and the markedown text is:

[code]

I found the `static let paragraphSeparator = "\u{2029}"` caused this bug, if I set it to empty by `static let paragraphSeparator = ""`, it looks ok

but loose the paragraph's  line height between

[2021-04-15 09:30] gonzalezreal commented on #42
🤔 That doesn't make much sense, as `paragraphSeparator` is used to separate the paragraphs, not the lines inside a paragraph.

I will have a look, nevertheless. Thanks for reporting!

[2021-04-15 09:41] oblank commented on #42
It's confused，and if only english words, it seems there is no bug.

Thanks

[2021-04-15 09:43] gonzalezreal commented on #40
Sorry for the late response. MarkdownUI does not support `LocalizedStringKey` at the moment, but I might consider adding support in the future. As a workaround, you can use the good old `NSLocalizedString`:

[code]

[2021-04-15 14:07] gonzalezreal commented on #42
I did a bit of research and it is related to paragraph styles, rather than the paragraph separator. That is, if there are paragraphs in the resulting attributed strings, then you get the weird differences in line spacing. I still have no clue on how to fix this one.

[2021-04-15 21:42] morad opened #43 "Example on blockQuoteAttributes usage"
Hello,

Can I get an example/tip on how to utilize blockQuoteAttributes func in my SwiftUI. Basically, I am trying to change the background and some font attributes.

Thanks,

Morad

[2021-04-16 01:35] oblank commented on #43
conform  `MarkdownStyle` protocol

[code]

this function may help you.

[2021-04-16 01:38] oblank commented on #42
get.

Thanks for your works.

[2021-04-16 07:19] gonzalezreal commented on #42
To me, it looks like an iOS-only issue. Here is a screenshot of the Dingus example running in macOS:

![Screenshot 2021-04-16 at 09 14 39](https://user-images.githubusercontent.com/373190/114986399-3d8e0c80-9e94-11eb-9ff1-073e265b901e.png)

I see a consistent line spacing that only differs a little when the line has mixed Latin and Chinese characters, which is expected.

[2021-04-16 08:15] oblank commented on #42
finaly, I found this [https://stackoverflow.com/questions/6367681/line-spacing-in-multi-language-layout-with-core-text](https://stackoverflow.com/questions/6367681/line-spacing-in-multi-language-layout-with-core-text)

looks like it's not a bug, but a typesetting systems problem. and after some research I 'fix' it with some codes below

[code]

looks better.

![screenshot](https://i.ibb.co/vc1LCHP

[2021-04-16 08:26] gonzalezreal commented on #42
Yeah, that makes sense as a workaround. But the default values in the paragraph style should work properly as well.

[2021-04-17 01:34] HeebeLee commented on #40
I also need this function.

At present, I read the String file according to the language, and then directly pass the parameters to the Markdown method. If there is a better idea, it should be realized as soon as possible. thank you

PS：

I like this open source project very much and hope to stick to it. Thank you for your contribution to open source. Thank you very much

[2021-04-17 01:38] HeebeLee commented on #29
I support the idea

[2021-04-22 17:58] morad commented on #43
Can you please provide an example on how to call blockQuoteAttributes or paragraphAttributes. I've tried the following, but no luck.

I am getting this error:

"Cannot find 'paragraphAttributes' in scope"

[code]

Thanks!

[2021-04-23 12:07] ppoh71 opened #45 "Crash when text has html tags"
When i try to display a markup text which contains html tags (also has some malformed tags in it) the app crashes when using MarkdownUI

Tested with this text

`**CC-Attribution-NonCommercial**\n\nBased on a scan of a replica of the \"Mayflower\" ship, processed by @spogna and available [here](https://skfb.ly/6u8T6).\n\nLike in the [Mosquito in Amber](https://skfb.ly/6xWCO), most of my attention w

[2021-04-23 16:45] #43 closed

[2021-04-25 08:31] gonzalezreal commented on #40
Unfortunately, I can't add support for `LocalizedStringKey` because its properties are not accessible. Maybe Apple opens this API in a future SwiftUI release. For the moment, we have to stick to the workaround that I mentioned previously.

[2021-04-25 10:19] gonzalezreal commented on #45
I can't reproduce the crash with the text you provided, neither in the simulator nor in my device. Tested with Xcode 12.4 / iOS 14.4.2.

Here's a couple of screenshots:

![IMG_1750](https://user-images.githubusercontent.com/373190/115989794-61520080-a5c0-11eb-89eb-06f7082d82ee.png)
![IMG_1751](https://user-images.githubusercontent.com/373190/115989799-631bc400-a5c0-11eb-9270-1a52ca91416b.png)

[2021-04-25 10:59] codebeauty opened #46 "Are local images supported?"
Great library. Before I want to dive deeper into it, one question. Do you support local images? I see your example with an remote image. Is it possible to link a local image? Maybe from the asset bundle?

Thank you for your work. 👍

[2021-04-25 15:18] gonzalezreal commented on #46
**MarkdownUI** can render local images, provided that they can be located inside the bundle using a URL. This means that the image cannot be inside an asset catalog, and that you will need to set the markdown base URL to the bundle's resource URL. For example:

<img width="272" alt="Screenshot 2021-04-25 at 17 14 09" src="https://user-images.githubusercontent.com/373190/115998873-b1918880-a5e9-11e

[2021-04-26 10:01] ppoh71 commented on #45
i had another look and you're right. The problem was on my site and how i structured my views.
I used a state var to show/hide the text and also a function to get the text. The problem lies somewhere there.

`if self.showMoreDescription {
   Markdown(Document(getDescrption(showMore: true))
                    ).markdownStyle(
                      DefaultMarkdownStyle(
                        font

[2021-04-26 10:01] #45 closed

[2021-04-29 22:47] antonjazz opened #47 "Style modifiers, deep links"
I'm very much looking forward to using MarkdownUI. Thank you!! It's so easy to use as far as standard rendering goes.

This is a question regarding customization. I have a few issues, and I know that you're very busy, but if you're able to address any of them, especially the first, that would be fantastic!

1. I've looked all through `MarkdownUIDemo`, and I'm afraid I still don't understand the in

[2021-04-30 10:30] gonzalezreal commented on #47
Hi @antonjazz,

If you want to have control over the spacing and the colours of the headings, you will need to create a type that implements `MarkdownStyle`. Notice that `MarkdownStyle` provides default implementations for all the different markdown elements, so you will only need to implement `headingAttributes(_:level:paragraphState:)`. Here is an example showing how to provide different colours

[2021-04-30 12:28] antonjazz commented on #47
Thank you, @gonzalezreal - that's exactly what I needed! :) Have you considered including one example like this in the demo? It would be so useful to see an example using one of the protocol functions such as `headingAttributes(_:level:paragraphState:)` or `linkAttributes(_:url:title:)` customized like this.

As for SF Symbols, I was thinking of the string interpolation uses that come in handy in

[2021-05-20 15:44] antonjazz opened #50 "Spacing issues with lists"
I notice that when I have nested lists, I get extra spacing when end I end a sublist. Here's an example of markdown and the MarkDownUI rendering below it, using all standard settings:

![MarkDownUI SubList](https://user-images.githubusercontent.com/1247706/119008726-45cfe080-b947-11eb-920d-589dcf5f5c9c.png)

Also, I would love to be able to separate all list items slightly (vertically) from each o

[2021-05-23 17:05] gonzalezreal commented on #50
This is definitely a bug. Thanks for reporting, I will look into it.

[2021-05-23 17:38] antonjazz commented on #50
Thank you! 🙏
And, while you're thinking about it, if you have any ideas about that last comment too (adding a little touch of vertical space between list items) that'd be fantastic! Here's an example (all lines except the wrap-around line have more spacing). It's subtle but I find that it helps readability a lot:
![LooserSpacing](https://user-images.githubusercontent.com/1247706/119270706-da8a4680

[2021-05-24 10:29] gonzalezreal commented on #50
According to the [CommonMark Lists Spec](https://spec.commonmark.org/0.29/#lists):

MarkdownUI does its best to respect that. So if you write:

[code]

You will have loose spacing in the outer list.

Likewise, to have loose spacing in both the inner and outer lists, you could write:

[code]

Is that what you're looking for?

[2021-05-24 15:55] antonjazz commented on #50
Thanks, Guille! That would work, with these two qualifiers:

1. I'd want to set the extra spacing for `loose` to something very small such as `1.0` or `2.0`.
2. I would then make every list a loose list.

(2) is just a minor inconvenience, but I was concerned that achieving (1) would also reduce the spacing between all (non-list) paragraphs to the same small value. Is that correct? So I was hoping

[2021-05-25 06:43] gonzalezreal commented on #50
Currently you can't achieve the kind of spacing customization you are asking. This will require rewriting some parts of the attributed string renderer.

[2021-05-25 06:52] markusmoenig commented on #46
@gonzalezreal Also from my side thanks for MarkdownUI.

But could we not somehow define a sub folder of the base url for the images ? I want todo my dynamic help system with MarkdownUI and putting like 20-30 images into the main resource folder would mess up my project big time ... .

[2021-05-25 11:33] markiv opened #51 "Disabling text selection"
Hola @gonzalezreal

Is there a way to disable text selection **without** disabling links?

Here's my use-case:

![image](https://user-images.githubusercontent.com/55100/119490822-8ff8fd80-bd5d-11eb-899d-d81e591655d0.png)

[2021-05-25 13:18] gonzalezreal commented on #51
The `Markdown` SwiftUI view is backed by a `UITextView` in iOS, which has a `selectable` property that controls the ability to **both** select text and interact with URLs and text attachments.

A possible solution would be to implement a custom `UIView` subclass that renders the attributed text and handles links, but that can be very difficult (text layout is complex) and definitely out of the sco

[2021-05-25 14:33] antonjazz commented on #50
Thanks for the response, Guille! I wish I were good enough with such things to help you with it and submit a pull request instead of an "issue"! Slowly getting there, I hope. :)

[2021-05-26 18:29] markiv commented on #51
You're right. Pity. `isSelectable` applies to both text selection and links.

    @available(iOS 7.0, *)
    open var isSelectable: Bool // toggle selectability, which controls the ability of the user to select content and interact with URLs & attachments. On tvOS this also makes the text view focusable.

There's a possible workaround by overriding `point(inside:with:)`: https://stackoverflow.com/

[2021-05-31 03:39] ericlewis opened #52 "Allow links to have custom actions"
Instead of popping the user out to safari, it would be nice to allow users to be linked into a tool like BetterSafariView

[2021-06-04 16:24] ericlewis commented on #52
it appears that it should be possible, but the AttributedText framework will need to be updated / expose the functionality to MarkdownUI.

[2021-06-09 15:47] gonzalezreal commented on #52
Doesn't this do the job?
https://developer.apple.com/documentation/swiftui/menu/onopenurl(perform:)

[2021-06-09 17:20] antonjazz commented on #52
@gonzalezreal, I actually just used that with MarkdownUI in the latest version of [an app I released](https://scalemate.app), as a way of using links to navigate from one MarkDown page to another within the app. Works great. :)

Though I can understand that @ericlewis would want a way of directing standard http:// links to something other than Safari.

[2021-06-10 03:17] jiangdi0924 commented on #45
same issue, how you fix it?

[2021-06-11 03:10] jiangdi0924 commented on #45
@ppoh71  Hi, i find  the same issue, when i use  html   render the markdown, page reopen  crashed.   Do you fix it ?

[2021-06-14 01:45] AndyIbanez commented on #52
Yeah, this is the use I have as well. The service I'm writing an app for has custom rules for markdown, and when you press a URL that links to something within the service itself, it's supposed to use the to navigate to that content instead of opening Safari.

I have a workaround for this, and it's simply to replace all the appearances of `https://thewebsite.com` with `websitescheme://` and handle

[2021-06-14 14:43] ericlewis commented on #52
Yeah, quite aware of the workaround here. Though very undesirable. I am pretty sure I understand at least how to implement this, so it I get the time I shall.

[2021-06-15 02:18] jiangdi0924 opened #53 "html tag render image size too large"
This pkg is very helpful for me , thank you !
A bit issue when i render a html tag document ,  how can i fix it?
`document =  #"""
        <h2></2>
        <img src="https://octodex.github.com/images/stormtroopocat.jpg" alt=""/>
        """#`

![image](https://user-images.githubusercontent.com/21988177/121982504-30bd6480-cdc2-11eb-94cc-4cb7af4a0867.png)

[2021-06-21 11:22] codebeauty commented on #46
Thank you for the clarification and keep up the great work 🧡

[2021-06-21 11:22] #46 closed

[2021-06-22 09:32] shahla00 commented on #52
Can someone give an example of how you worked around it? Basically I want to open the link in a SFSafariViewController instead of kicking the user out to safari.

[2021-07-08 19:14] kevoniori opened #57 "Images not showing up when using Markdown"
I'm parsing markdown content from the Contentful CMS into my app. The texts and links are all formatted and displayed as they should (e.g. lists, bold, links, italics, etc.), however, when I insert images, they won't load. The image URL structure is the same as is documented to use with Markdown UI but they won't come up. It will come up in the preview editor from Contentful but inside my app noth

[2021-07-08 19:16] kevoniori commented on #57
Attached are two examples. One of how it looks when the app launches and the other from the Contentful backend.
![Screen Shot 2021-07-08 at 2 15 30 PM](https://user-images.githubusercontent.com/86158992/124978180-0e042180-dff7-11eb-8689-a80624cb6b66.png)
![Simulator Screen Shot - iPhone 12 Pro Max - 2021-07-08 at 14 15 13](https://user-images.githubusercontent.com/86158992/124978183-0f354e80-dff7-

[2021-07-08 22:14] kevoniori commented on #53
You could try the following code below and adjust the parameters to your liking.
<style> img {border-radius: 30px; width: 100% ; height: 300 ; margin-left: auto ; margin-right: auto }  </style>

[2021-07-13 19:00] gonzalezreal commented on #57
Hi,
It looks like the image URLs in your example are relative URLs. Therefore, you must use the `markdownBaseURL` modifier to set a base URL for the images, as demonstrated in the companion demo app:

https://github.com/gonzalezreal/MarkdownUI/blob/890d6341bd5c487df0b1f7dae04173fb9963f565/Examples/MarkdownUIDemo/Shared/ReadMeView.swift#L18

[2021-07-13 19:00] #57 closed

[2021-07-13 19:29] kevoniori commented on #57
This helped so alot. Images are showing up now, thanks much @gonzalezreal

[2021-07-19 01:19] kevoniori commented on #45
How do you render HTML markdown using Markdown UI? I just get the plain Html tags and text

[2021-07-19 01:26] kevoniori commented on #53
How did you get to render the markdown using html? Mine just spits out the plain text.

[2021-07-19 02:01] jiangdi0924 commented on #53
try this :
[code]
**Note**: i find  if the top level html code without _<h*>_ tag , then the html will not render completely.

[2021-07-19 03:16] kevoniori commented on #53
Tried it with your example and it worked, but I tried it with a wordpress rest api and it didnt work

[2021-07-23 16:01] 956MB commented on #51
A workaround I've found is putting the Markdown in a ZStack with a clear View above it:

[code]
Reason for `.opacity(0.001)` is because for some reason TapGesture input im using for single/double clicks is not registered when using `Color.clear` or `.opacity(0.0)` on this view.

This seems to solve the problem of text selection on the markdown, since there doesnt seem to be a simple modifier for i

[2021-08-10 16:35] oblank opened #58 "open image when tap on it"
is there some way to open image when tap on it, like LightBox's style？

[2021-08-11 09:19] Scr1pting opened #59 "Customize lineSpacing"
Especially when displaying long pieces of text, it is more convenient for the reader when the text is spaced out a bit more. For regular SwiftUI Text Views, one can simply call the `.lineSpacing()` modifier.

Is there a modifier in this module for this?

[2021-08-12 10:24] gonzalezreal commented on #59
There is no support for customizing line spacing at the moment. However, it should be feasible to do it.

[2021-08-12 10:35] gonzalezreal commented on #58
Hello,
This requirement is out of the scope of this package. You can achieve something close to it by creating an image link in markdown:
[code]

Furthermore, you could use your own URL scheme for the links and open the images in a native way. You can find more info about handling deep links in SwiftUI in [this post](https://www.donnywals.com/handling-deeplinks-in-ios-14-with-onopenurl/).

[2021-08-12 10:47] gonzalezreal commented on #53
HTML rendering is *very limited* now. I am working on improving it for version 1.0. The goal is to cover the HTML tags equivalent to markdown, both in blocks and inlines. However, a rule of thumb is to use markdown syntax when possible.

[2021-08-12 10:47] #53 closed

[2021-08-13 07:35] shahla00 opened #60 "Open in-app browser"
It will be nice if there is a way to give custom actions to links instead of always opening in Safari. For our use, we want to open SFSafariViewController but MarkdownUI does not have that ability!

I implemented it through custom urls, but it is an ugly hack and I shouldn't have to do that.

[2021-08-15 11:12] yoshimaru46 opened #61 "Support for cmark-gfm"
Is there any plan to support github flavored markdown spec?
refs: https://github.com/github/cmark-gfm

[2021-08-19 07:52] gonzalezreal commented on #60
Duplicate of #52

[2021-08-19 07:54] gonzalezreal commented on #61
Duplicate of #29

[2021-08-19 07:56] gonzalezreal commented on #61
Hi @yoshimaru46,
This has already been discussed [here](https://github.com/gonzalezreal/MarkdownUI/issues/29#issuecomment-760010908).

[2021-08-19 07:57] #61 closed

[2021-08-19 07:59] gonzalezreal commented on #60
Hi @shahla00,
This has been already discussed in #52. I will reopen #52 and continue the discussion there.
Thanks!

[2021-08-19 07:59] #60 closed

[2021-08-19 08:03] gonzalezreal commented on #52
It looks like the `onOpenURL` SwiftUI API is not enough to cover this use case. I will think about possible solutions. Any feedback is welcome. Thanks!

[2021-08-25 18:40] heltena opened #62 "break combine-schedulers dependency"
Hello,

the package "combine-schedulers" just release a new version 0.5.2 that breaks your MarkdownUI package. In your dependencies it appears:

        .package(url: "https://github.com/pointfreeco/combine-schedulers", from: "0.1.2"),

It will be great to update the "from:" to the version you think is the good one and release a new version.

Thanks!

[2021-08-26 21:10] jfrodden opened #64 "latest version of combine-schedulers is incompatible w/NetworkImag"
this package requires https://github.com/gonzalezreal/NetworkImage, which requires https://github.com/pointfreeco/combine-schedulers, which just moved to version 0.5.2 which requires iOS13, but these two packages export support for iOS11, this breaks our app when Xcode auto-updates our dependency chain.

[2021-08-29 05:53] gonzalezreal commented on #64
duplicates #19 #62

[2021-08-29 09:53] #64 closed

[2021-08-29 09:57] gonzalezreal commented on #64
This should be fixed in https://github.com/gonzalezreal/MarkdownUI/releases/tag/0.5.2

[2021-08-29 09:58] gonzalezreal commented on #62
Thanks for reporting this. It should be fixed in: https://github.com/gonzalezreal/MarkdownUI/releases/tag/0.5.2

[2021-08-29 09:58] #62 closed

[2021-08-30 14:47] abhinavtatch opened #66 "How to open a link in app (question)"
Right now, the default implementation is to open a browser on the phone, how can one change this to open an in app browser ?

Any help appreciated. Thank you

[2021-09-04 00:18] antonjazz opened #67 "Markdown appears in SwiftUI preview but not in simulator or on device"
This is a strange issue that started occurring to me recently.
I made a test app to demonstrate it at [https://github.com/antonjazz/MarkdownTest](https://github.com/antonjazz/MarkdownTest)
If you look at the `MainView.swift` file along with its SwiftUI Preview, you'll see the markdown renders fine.
But in the Simulator it never appears at all.
I'm using Xcode 12.5.1.

Any ideas?

[2021-09-05 11:37] reinaldoriant opened #68 "underline in markdown"
Hi, can it add for an underline?

[2021-09-14 23:07] abhinavtatch commented on #66
Thank you @bigadz , unfortunately I'm using UIKit

[2021-09-15 06:03] bigadz commented on #66
@abhinavtatch so now I'm guessing: Perhaps you can handle this via the UIAppDelegate? See https://developer.apple.com/documentation/uikit/uiapplicationdelegate/1623112-application

[2021-09-15 12:40] abhinavtatch commented on #66
@bigadz , sorry, my question wasn't clear, I'm using the markdown UI package, and when there is a a link in the attributed string of the  `DefaultMarkdownStyle()` , On tap of this markdown link, I want the app to open the link in the in app browser ( i have WKWebView in a VC already ) rather than opening un Safari or the default browser on the phone.

Apologies for the tardy question before

[2021-09-22 05:29] jiangdi0924 commented on #67
+1

[2021-09-24 08:59] john-ibsa commented on #67
+1

[2021-09-28 12:41] erdincIceMobile commented on #67
+1

[2021-09-28 12:42] erdincIceMobile commented on #67
+1

[2021-10-03 09:40] gonzalezreal commented on #68
Hi,
MarkdownUI is fully compliant with the [CommonMark Spec](https://spec.commonmark.org/), which doesn't support underlined text.

[2021-10-03 09:40] #68 closed

[2021-10-03 09:40] #29 closed

[2021-10-03 09:41] #37 closed

[2021-10-03 09:42] #47 closed

[2021-10-03 09:42] #51 closed

[2021-10-03 09:45] #58 closed

[2021-10-16 12:39] Jomy10 opened #71 "Make Markdown text not selectable"
Hi, I am using MarkdownUI in my application to use bullet points in my text.
However, the Markdown text is selectable and I can't find how to turn this off?

[2021-10-27 15:14] jiangdi0924 opened #73 "in version 0.5.2 HTML blocks was not working"

[2021-11-04 23:05] kevoniori opened #77 "Markdown not displaying in Xcode 13"
Ever since I updated to Xcode 13.1 and started working with iOS 15, the markdown parsing doesn't seem to be working. It's just a blank screen now. I'm using the latest version of Markdown UI as well. It used to work before but now it has just...stopped

[2021-11-05 09:23] gonzalezreal commented on #77
I haven't seen any issues with Xcode 13.1 and iOS 15.0. Please, provide a test project that reproduces the problem. Otherwise, I can't help you.

[2021-11-05 09:23] #77 closed

[2021-11-09 17:46] helloniklas opened #78 "Markdown text disappearing after presenting a sheet"
So I have this app with a rather elaborate view hierarchy. For some reason when I present a sheet on top of the Markdown text then dismiss it the markdown text disappears but everything is else is still there.

I've tried to present a sheet in a vanilla standalone project and it works fine there. So not sure exactly what triggers this behaviour in my project. But all other UI elements works fine,

[2021-11-10 01:23] mokkun commented on #78
Have a similar issue, but when displaying a context menu for a list item that has markdown.

[2021-11-12 17:03] heltena commented on #78
I had a similar issue. In my case, everything works on iOS 14, but Markdown disappears o iOS 15. I could isolate the error in a simple example:

https://github.com/heltena/MarkdownTest

To reproduce the error:
- Run on a iOS 15 device (simulator also works)
- Click on "Show Challenge"
- You will see the markdown and a horrible red rectangle.
- Tap and drag your finger on that horrible red rectangl

[2021-11-12 18:55] helloniklas commented on #78
I'm seeing the issue in both iOS14.5 and iOS15...

[2021-11-12 18:56] heltena commented on #78
Sorry, maybe I should have opened another ticket instead of using yours. It looks close similar. Could you try my pull request in your code?

[2021-11-12 19:21] helloniklas commented on #78
Yeah it’s probably related. Will try it when I’ll get back to a computer.

[2021-11-13 16:45] gonzalezreal commented on #78
I will have a look at this as soon as I can. Thanks for reporting it.

[2021-12-27 23:34] danielbuechele commented on #77
I do have the same issue. I haven't yet been able to reproduce it in a standalone project, though.

[2021-12-28 10:42] gonzalezreal commented on #78
Hi all,

I fixed this issue in the `release-1.0` branch. Notice this branch is still a work in progress and contains other breaking changes I am making in preparation for the upcoming 1.0 release.

@heltena, thanks for providing a test project to reproduce the issue. That helped a lot.

[2021-12-28 10:48] gonzalezreal commented on #77
Hi,
I fixed iOS 15 view updating issues (#78) in #83. Notice that this fix is in the `release-1.0` branch, which is still a work in progress and contains other breaking changes.

[2021-12-28 10:54] gonzalezreal commented on #67
Could this be related to #78?

[2021-12-28 15:31] antonjazz commented on #67
Unfortunately it doesn't seem so. At least, the [test app](https://github.com/antonjazz/MarkdownTest) I link to above that demonstrates it doesn't present any sheets. Here's [its main view](https://github.com/antonjazz/MarkdownTest/blob/main/MarkdownTest/MainView.swift).

[2021-12-28 17:46] #73 closed

[2022-01-06 11:59] helloniklas commented on #78
I can confirm his solves my issue as well. Many thanks.

[2022-01-06 11:59] #78 closed

[2022-01-07 23:46] danielbuechele opened #86 "Custom fonts variants"
I'm playing around with the release-1.0 branch, thanks for al the great work on that. I understand that this is still pre-release, so what I am looking for might not be implemented, or not possible at this point.

I am using a custom font in my project like this.
[code]

However, now bold and italic text is rendered in this font as well. Is there a way to specify a different variant of my font for

[2022-01-08 07:31] gonzalezreal commented on #86
Hi @danielbuechele,

At the moment, MarkdownUI does not support that level of customization. When rendering emphasized text, it takes the current font and applies the corresponding traits: bold, italic, or both.

How would you like to specify a different font for emphasized text? Family name? Design? At the API level, there could be many options.

Btw, thanks for trying the `release-1.0` branch. I

[2022-01-08 15:39] danielbuechele commented on #86
Hey thanks for you fast reply! Sorry, the problem might be more my lack of knowledge about iOS font management, rather than your library, then. So my app bundle contains the font files "Inter-Regular.otf", "Inter-Bold.otf" and "Inter-Italic.otf", so creating `MarkdownStyle.Font.custom("Inter-Regular", size: 16.0)`, works fine but the same font is used for bold and italic.
You are saying the librar

[2022-01-08 16:09] gonzalezreal commented on #86
Ok, now I understand. The implementation of `MarkdownStyle.Font` uses [`withSymbolicTraits`](https://developer.apple.com/documentation/uikit/uifontdescriptor/1616665-withsymbolictraits) to get a bold or italic version of the current font. This method works with system and custom fonts if you provide all the variants. Maybe there is a variant missing, like semi-bold.

Did you try `SwiftUI.Font.cust

[2022-01-08 16:21] danielbuechele commented on #86
Oh, I think I figured it out, thanks for you help. The problem was, the name I provided for the base font was "Inter-Regular", the traits seem to be appended to the font name, so the app was looking for "Inter-Regular-Bold", which didn't exist. I changed the name of the base font to "Inter", and now the bold variant name is generated as "Inter-Bold" and it's working as expected.

[2022-01-08 16:21] #86 closed

[2022-01-10 07:40] gonzalezreal commented on #67
I can't run the previews on the project you provided due to some misconfiguration of the preview content. Could you please try to reproduce the issue using the `release-1.0` branch?

[2022-01-16 14:37] #71 closed

[2022-01-16 14:39] gonzalezreal commented on #67
@antonjazz, Could you please check if this is still reproducing in `MarkdownUI 1.0.0`?

[2022-01-16 14:46] gonzalezreal commented on #66
Hi @abhinavtatch,
MarkdownUI 1.0.0 now provides custom link handling. You will find a couple of examples in the README and the documentation.

[2022-01-16 14:46] #66 closed

[2022-01-16 14:49] gonzalezreal commented on #52
Hi @ericlewis,
MarkdownUI 1.0.0 now provides custom link handling. You will find a couple of examples in the README and the documentation.

[2022-01-16 14:49] #52 closed

[2022-01-16 15:07] gonzalezreal commented on #50
Hi @antonjazz,
This issue has been fixed in [MarkdownUI 1.0.0](https://github.com/gonzalezreal/MarkdownUI/releases/tag/1.0.0)

[2022-01-16 15:07] #50 closed

[2022-01-16 15:09] gonzalezreal commented on #24
Hi,
This has been fixed in [MarkdownUI 1.0.0](https://github.com/gonzalezreal/MarkdownUI/releases/tag/1.0.0)

[2022-01-16 15:09] #24 closed

[2022-01-16 19:55] antonjazz commented on #67
Fixed it! 🎯👍

[2022-01-16 19:58] antonjazz commented on #50
Thank you for all the great hard work you've been putting in, @gonzalezreal !!

[2022-01-16 21:07] #67 closed

[2022-01-17 07:05] gonzalezreal commented on #42
Hi @oblank,
I have been testing this with MarkdownUI 1.0.0 (which comes with a new renderer), and I can't reproduce it. It displays the markdown you provided correctly in iOS 14, iOS 14.5, and iOS 15.0.

<img width="371" alt="Screenshot 2022-01-17 at 07 59 36" src="https://user-images.githubusercontent.com/373190/149722903-d566984b-5964-4256-a8d8-d15cae23660e.png">

[2022-01-17 07:05] #42 closed

[2022-02-03 22:14] sudo-masterMind opened #90 "Customizing line spacing now available?"
I saw this [post](https://github.com/gonzalezreal/MarkdownUI/issues/59) and I'm wondering if there's now a function to customize  line spacing.

[2022-02-04 07:53] gonzalezreal commented on #90
Hi,
The issue is still open. I will look into it when I have some time.

[2022-02-05 09:22] #90 closed

[2022-02-09 05:22] kikimaxs opened #91 "Cannot Customize MarkdownStyle details"
I have example string markdown :

`"\n#### Paket yang dipilih\n### **Paket Mobile** \n\n#### Waktu berakhir paket\n### Kamis, 11 Februari 2021 02:10 WIB \n\n**Keuntungan yang Anda dapatkan jika berlangganan:**\n- Jelajahi dan nikmati konten Mola tanpa batasan\n- Menonton tanpa Iklan\n- Dapat menonton di Aplikasi Mobile atau Browser PC atau Laptop Anda\n\nSegera perpanjang masa paket Anda agar dapa

[2022-02-10 11:09] Urkman opened #92 "Handle line breaks"
For me MarkdownUI is not rendering line breaks correctly.
A single line break is ignored and the text is displayed in one line.
Double line breaks are looking fine.

How can I handle this?

[2022-02-10 16:42] gonzalezreal commented on #92
Hi @Urkman,

You can have a look at the [CommonMark spec](https://spec.commonmark.org/0.30/#hard-line-breaks) to learn how to create hard line breaks in Markdown.

[2022-02-10 16:42] #92 closed

[2022-02-11 06:10] kikimaxs commented on #91
Hi @gonzalezreal,
I have edited my previous comment so you could understood my current issue.

[2022-02-11 10:28] Urkman commented on #92
Thanks for you answer :)
My Problem is, that I get the content from a backend and there we habe simple "\n" as our line breaks.
So, there is no chance to convert them?

When I use the building markdown parser like this:
`AttributedString(markdown: self, options: AttributedString.MarkdownParsingOptions(interpretedSyntax: .inlineOnlyPreservingWhitespace))`

It is displayed fine, bat as we know, the

[2022-02-26 17:41] #59 closed

[2022-02-27 11:19] gonzalezreal commented on #91
Hi,
At the moment, MarkdownUI doesn't support styling blocks or inlines. I will consider adding more styling options in a future release. In the meantime, have a look at the inline documentation in the following files to know what you can style now:

- [Sources/MarkdownUI/Style/MarkdownStyle.swift](https://github.com/gonzalezreal/MarkdownUI/blob/4c164300337a35d002188a83a878346819b203c0/Sources/Mar

[2022-02-27 11:19] #91 closed

[2022-02-27 11:31] gonzalezreal commented on #92
Hi,
Sorry, at the moment, that is not possible with MarkdownUI.

[2022-03-09 08:28] singularity-s0 opened #96 "[Feature Request] Support InlineSyntax"
This library will become much more powerful if it adds support for user-defined custom syntaxes (inline syntax).

To define these syntaxes, the developer will:
1. specify a list of Regular Expressions that matches the corresponding syntax block in the document,
2. then specify the View that handles each block.

If you are familiar with Flutter (another declarative UI framework), [flutter_markdown]

[2022-03-11 16:26] shawna-mac commented on #86
@danielbuechele Hello! Did your second code snippet work for the custom font then?  I'm currently running into the same issue

[2022-03-11 18:20] shawna-mac commented on #86
NVM I figured it out, I was basically doing the same, I had the wrong family name passed in.

[2022-03-12 17:23] gonzalezreal commented on #96
Thank you for the feedback! I will have a look at the doc you provided.

[2022-03-17 10:51] matiaskorhonen opened #97 "Selectable text on iOS"
The release notes for 1.0.0 include “Added: Make text not selectable on iOS” but I have some text that I'd like to be selectable. Is this possible? I couldn't figure it out on my own…

[2022-03-18 20:40] jefferythomas opened #98 "Style enhancements for header font and spacing between list items"
Here are a couple of enhancements that have been an issue while using MarkdownUI.

* Add a feature to provide more control over the font used for headers
* Add a feature to control the space between list items

[2022-03-24 00:29] bartreardon opened #99 "horizontal line elements `***` don't render correctly when centred"
when rendering a markdown document, if I apply a `.multilineTextAlignment(.center)` modifier, the text will center just fine but but horizontal  lines `***` _start_ at the center point and are not centered.

example centred:
![image](https://user-images.githubusercontent.com/3598965/159818267-31b1ef6b-1d9f-442c-a89d-f07c08ff7423.png)

example left justified:
![image](https://user-images.githubuser

[2022-03-24 02:34] mralexhay opened #100 "[Feature Request] Make detected links tappable"
This is brilliant, thanks for making it.

The only small thing I'm missing vs Apple's (inferior!) native markdown support is having links detected in the text (that aren't marked up) tappable.

For example it would be great in [this image](https://imgur.com/a/jfoR6Sd) if the image URL was tappable.

Thanks!

[2022-03-25 19:05] tsfischer opened #101 "image-related markdown will hang app"
If I try to render the following in a Markdown view, my app hangs:

`![alt text](image.jpg)`

This was originally part of a large block of markdown our QA threw at the app, and I whittled it down to this single line.

Note that there is no actual image `image.jpg` anywhere, but I wouldn't expect malformed markdown to crash/hang the app. This will be displaying arbitrary markdown that the user inpu

[2022-03-28 14:27] tsfischer commented on #101
Anything that I can provide to help reproduce/resolve this let me know. If I can't find a fix or workaround for this I'm going to need to change directions and try to find a different markdown parser, but I really like the SwiftUI simplicity of this one.

[2022-03-29 17:57] tsfischer commented on #101
I have done some more narrowing down of this issue and found that when placed in a simple view, the markdown above works (doesn't display anything, but doesn't hang the app either). But if I embed the view into, say, a `TabView`, then the app hangs. I will edit my original issue above to add more detail.

[2022-03-30 20:09] colintheshots commented on #92
Might I suggest as a workaround until the library supports this, run the following regex before displaying.

I'd recommend eventually adding support for soft breaks as hard, since this is so highly demanded that it's even called out in the CommonMark spec section on soft breaks.

[code]

[2022-03-31 17:48] tsfischer commented on #101
I think I have found a ~~hack~~ workaround. If I give it a (bogus) starting URL on the Markdown initializer, the hang goes away:

`Markdown(<markdown including the image tag shown above>, baseURL: URL(string: "http://")!)`

Not thrilled with it, but at least it pushes us forward.

[2022-04-02 09:29] Hext123 commented on #101
我也遇到了这个问题, 在列表中展示相对路径的图片时, APP会无响应, 并且内存持续增加.
而如果是绝对路径, 哪怕图片其实不存在也不会有问题.
最后的解决方案跟[tsfischer](https://github.com/tsfischer)一样, 给定一个baseURL就能避免这个问题了

I also encountered this problem, when displaying pictures with relative paths in the list, the APP would become unresponsive, and the memory continued to increase.
And if it is an absolute path, there will be no problem even if the image does not actua

[2022-04-08 04:24] jbeder opened #102 "Support the Apple swift-markdown library"
Apple now has a Swift markdown package of its own: https://github.com/apple/swift-markdown

It's based on cmark as well. There are two main issues:

1. If an app depends both on that package and this one, then it'll have duplicate symbols from cmark since this package embeds cmark.
2. swift-markdown defines a `Document` type like the [SwiftCommonMark](https://github.com/gonzalezreal/SwiftCommonMar

[2022-04-14 06:01] gonzalezreal commented on #97
Hi @matiaskorhonen,
Sorry for the late response. This is currently not possible. I will consider this in a future release.

[2022-04-14 06:02] gonzalezreal commented on #99
I will look into this. Thanks for reporting it.

[2022-04-14 06:07] gonzalezreal commented on #100
Hi @mralexhay,

Sorry for the late response. That feature is part of the [GitHub Flavored Markdown Spec](https://github.github.com/gfm/), and MarkdownUI supports the [CommonMark Spec](https://spec.commonmark.org/). That is a major change and, at the moment, I have no plans to do it.

[2022-04-14 06:14] gonzalezreal commented on #101
Hi @tsfischer,
Sorry for the late response. Thanks for all the info to reproduce this issue. I will look into it.

[2022-04-25 13:23] ZsoltMolnarMBH opened #103 "Support CocoaPods"
Hello!
We are working on an enterprise application, which is forced to use CocoaPods.
Unfortunately this repo has no podspec file. :(

[2022-04-26 22:04] 29decibel opened #104 "Crashes when rendering unfinished code block"
Given content:
[code]
When rendering the above it would crash. Here is the crashing info:

<img width="1124" alt="image" src="https://user-images.githubusercontent.com/97426/165399977-058da85a-c2b0-4d98-83b5-9bed2cf994c7.png">

[2022-05-17 10:54] raulvbrito opened #105 "Custom font not working"
I'm trying to use custom fonts but can't get it to work. It always renders a system default font (Helvetica). I've tried the following solutions so far:

[code]

[code]

[code]

[code]

[2022-06-03 11:01] zwpaper opened #106 "not support `backquote`"
not support `backquote`

seems it drop the
[code]
  , but not rendering anything different

[2022-06-13 06:36] developerfromjokela opened #107 "Width is always maximum"
Hello!

I'm trying to do chat bubbles with markdown formatting, but Markdown UI seems to use full width always.

Is it possible to set dynamic width, so no space is wasted?

[2022-06-13 07:35] developerfromjokela commented on #107
@gonzalezreal @reinhart1010 ?

[2022-06-20 12:47] Terabyte1385 opened #108 ""UIViewRepresentables must be value types: MarkdownUI" Exception in iOS 16 beta"
To make it clear, in the stable iOS 15.5 release, this issue does not occur. App built using Xcode 14 beta.

At the `@main` line in `My_Awesome_AppApp.swift`, an exception is thrown, saying `UIViewRepresentables must be value types: MarkdownUI`. I don't even know what that's supposed to mean, can anyone help?

<img width="794" alt="Screenshot 2022-06-20 at 15 49 31" src="https://user-images.github

[2022-06-27 12:18] alexisbronchart opened #109 "Links styling"
I'd like to be able to customise links (font, color, ...) how can I do this? `MarkdownStyle` doesn't seem to allow it.

[2022-07-05 13:36] gonzalezreal commented on #109
At the moment, you can use the `.accentColor(_:)` modifier to change the color of the links.

[2022-07-05 13:38] gonzalezreal commented on #108
Hi @Terabyte1385,
Thanks for reporting this. I will look into it before the official iOS 16 is released.

[2022-07-05 13:42] gonzalezreal commented on #107
Sadly this is not possible at the moment, as the `Markdown` view is implemented with a `UIViewRepresentable`, limiting the ability to size the view correctly. The workaround is to use the `frame(width:height:alignment:)` view modifier.

[2022-07-05 13:43] gonzalezreal commented on #106
Could you please provide sample markdown and code to reproduce the issue?

[2022-07-05 13:47] gonzalezreal commented on #104
Hi @29decibel,
Thanks for reporting this issue. I will fix is ASAP.

[2022-07-07 12:01] yonaskolb commented on #109
I've love to have a way to remove the underline from links. Is that possible?

[2022-07-08 23:26] developerfromjokela commented on #107
It is possible, check it out:

https://github.com/wilmaplus/MarkdownUI

[2022-07-22 15:16] gonzalezreal commented on #105
Hi @raulvbrito,
The fix for this issue will be part of the next release. Thanks for reporting.

[2022-07-22 15:31] #105 closed

[2022-07-22 15:33] gonzalezreal commented on #104
Hey @29decibel,

The fix for this issue will be included in the next release.

Thanks!

[2022-07-22 15:38] gonzalezreal commented on #103
Hi,

Sorry, but I have no plans to support Cocoapods or maintain a pod spec. However, since Cocoapods is a centralized dependency manager, you could create a pod spec yourself and add it to their specs repository.

[2022-07-22 15:38] #103 closed

[2022-07-22 15:40] raulvbrito commented on #105
Thank you so much @gonzalezreal ! I'll be testing it as soon as the release is out

[2022-07-22 15:41] #104 closed

[2022-07-22 16:02] gonzalezreal commented on #101
Hi @tsfischer,

The fix for this issue will be included in the next release. Thanks again for providing the sample code to reproduce the problem, it was instrumental to find the cause.

Cheers!

[2022-07-22 16:15] #101 closed

[2022-07-22 16:18] gonzalezreal commented on #99
Hey @bartreardon,

The fix for this issue will be included in the next release.

Thanks!

[2022-07-22 16:27] #99 closed

[2022-07-27 14:53] gonzalezreal commented on #108
Hi @Terabyte1385,
The demo project you have provided is not using this library (MarkdownUI). Instead, it is using https://github.com/keitaoouchi/MarkdownView.

In any case, I ran the sample project from this library, MarkdownUIDemo on Xcode 14.0 Beta 3 and I couldn't reproduce the issue you mention.

[2022-07-27 14:53] #108 closed

[2022-07-27 15:17] Terabyte1385 commented on #108
Oh my days, I'm truly sorry, I haven't realised that. Thanks for investigating anyway!

[2022-07-27 16:37] maciesielka opened #115 "[Bug] `lineLimit` truncation does not work as expected when markdown content ends with a link"
### Build Information
**Markdown UI Version**: Latest (1.1.1 at time of writing)
**Xcode Version**: 13.4.1
**iOS Simulator**: iPhone 13 Pro, iOS 15.5 (reproduces on a physical iPhone 11 Pro Max -- iOS 15.5 as well)

### Issue Description

There seems to be an issue with how the `lineLimit` modifier affects `Markdown` when the content ends in a link.

In the example below, the intention is to trunc

[2022-08-02 14:20] gonzalezreal commented on #115
Hi @maciesielka,

This is an interesting issue. MarkdownUI renders the markdown into an `NSAttributedString` and then uses a `UITextView`/`NSTextView` to display it in a SwiftUI view hierarchy. MarkdownUI uses the truncation mode, line limit, and line spacing from the SwiftUI environment in the following ways:
- Truncation mode and line limit are just passed directly to the internal text view's `N

[2022-08-02 14:56] maciesielka commented on #115
Ahh okay. Not ideal, but that makes sense at a high level. Maybe I'll use a workaround to remove the interior spacing in the text while I'm attempting truncation.

Appreciate the response!

[2022-08-02 14:56] #115 closed

[2022-08-16 16:58] PierreMardon opened #119 "`DisclosureGroup` display issue"
## Setup

- iOS 15.5
- iPhone 12

SwiftUI view:

[code]

By default, all disclosure groups are **not** expanded.

Mardown:

[code]

## Scenario

- navigate to this view
- expand first level (section)
- expand second level (question)

## Result

![IMG_AEB221107048-1](https://user-images.githubusercontent.com/327473/184935054-d5c09eff-39a4-423d-9d64-006e8848abb7.jpeg)

## Expected

![IMG_696812BF98C

[2022-09-09 07:45] gonzalezreal commented on #109
MarkdownUI 2.0, currently under development, will support themes allowing link customization among other things.

[2022-09-09 14:01] emartinson opened #134 "Support Carthage"
Hi, could you please support Carthage installation?

[2022-09-14 09:27] oco-adam opened #139 "Support for WatchOS"
Hi,

First of all, thanks very much for the great library!

WatchOS support would be very helpful for us - do you have any plans to support WatchOS in the near future?

Thanks,
Adam

[2022-09-14 10:16] RickiG commented on #109
Looking forward to it, we are rewriting an app where there is html styled text from the backend being changed to markdown. We have 2 things we can't achieve currently. Using a custom font, and using different fonts for header and body. Gotta love designers:)
We are scanning the attributedString looking for traits and substituting it manually, would love to have MarkdownUI handle these cases for us

[2022-09-14 10:47] gonzalezreal commented on #139
Perhaps 😄. MarkdownUI 1.x uses a `NS/UITextView` under the hood, which is not supported in watchOS. I am working on a new version that uses pure SwiftUI views to render the markdown. I can't promise anything yet but, hopefully, this new version could add watchOS support.

[2022-10-05 06:48] bartreardon opened #144 "Issue preventing default button activating (macOS)"
With MarkdownUI present on a form and a default button present, e.g.

[code]

When the form is displayed, the default button does not have focus of the `.defaultAction` key binding (i.e. the Enter key). Pressing the default action once does nothing. pressing it again activates the button.

It would pre preferred if the Markdown content did not steal the focus. This issue is not present on forms wi

[2022-11-08 11:39] Rukenshia opened #161 "onTapGesture"
I have a `Markdown` view in my project and would like to switch to an editing mode when you click on it, but `onTapGesture` is not getting called when I click on the rendered view.
Is there another way of achieving this?